---
import type { ApiData, SectionsHomeAbout } from "../../interfaces/dbData";
import TransparentHeader from "../../components/TransparentHeader/TransparentHeader";
import Layout from "../../layouts/Layout.astro";

let UrlApi = import.meta.env.API_URL;
let KetApi = import.meta.env.API_KEY;
// Realiza la llamada a la API
const response = await fetch(`${UrlApi}/${KetApi}`);
const data: ApiData = await response.json();

//filtrar para obtener la section de blocks
const dataBlocks = data?.sectionsHomeAbout.filter(
    (section: SectionsHomeAbout) => section.section === "blocks",
);
---

<Layout
    title={`${data.name} | Areas We Serve`}
    description={dataBlocks[8]?.text}
    favicon={data.logos.secondary}
    featuredImage={data.logos.favicon}
    keywords={data.services.map((service) => service.title).join(", ")}
>
    <TransparentHeader
        bgImages={dataBlocks[8]?.additionalImages[0]}
        title={dataBlocks[8]?.title || "Areas We Serve"}
        client:load
    />
    <div class="pt-10 pb-36 w-4/5 mx-auto">
        <h2 class="text-center text-5xl font-bold mt-10 mb-5">Our Areas We Serve</h2>
    </div>
</Layout>
