---
import type { ApiData, SectionsHomeAbout } from "../../interfaces/dbData";
import TransparentHeader from "@/components/TransparentHeader/TransparentHeader";
import Layout from "../../layouts/Layout.astro";
import GalleryComponent from "@/components/Blocks/gallery/GalleryDetail";

let UrlApi = import.meta.env.API_URL;
let KetApi = import.meta.env.API_KEY;
// Realiza la llamada a la API
const response = await fetch(`${UrlApi}/${KetApi}`);
const data: ApiData = await response.json();

//filtrar para obtener la section de blocks
const dataBlocks = data?.sectionsHomeAbout.filter(
  (section: SectionsHomeAbout) => section.section === "blocks",
);
---

<Layout
  title={`${data.name} | Gallery`}
  description={data.sectionsHomeAbout[0].text}
  favicon={data.logos.secondary}
  featuredImage={data.logos.favicon}
  keywords={data.services.map((service) => service.title).join(", ")}
>
  <TransparentHeader
  bgImages={dataBlocks[3]?.additionalImages[0]}
    title={dataBlocks[3]?.title || "Gallery"}
    client:load
  />
  <div class="pt-10 pb-36 w-4/5 mx-auto">
    <h2 class="text-center text-5xl font-bold mt-10 mb-5">Our Gallery</h2>
    <div
      class="border-b-2 border-[#EBECE9] mb-5 relative before:absolute before:w-1/3 before:mx-auto before:bg-btnHover before:h-1 before:left-0 before:right-0 before:top-0"
    >
    </div>
    <div class="py-10">
      <GalleryComponent dataGallery={data.gallery} LandingsGallery={data.landingsGallery} client:load />
    </div>
  </div>
</Layout>
